:root{
  --devf-color-primary: #0041BE ;
  --devf-color-danger: #FF2222 ;
  --devf-color-gray-lighter: #F9FBFD ;
  --devf-color-gray-light: #B8B7B7 ;
  --devf-color-gray: #767684 ;
  --devf-color-gray-dark: #09090A ;

}